NEXT_PUBLIC_SUPABASE_URL=https://whstlsvutyhiretmzhvj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indoc3Rsc3Z1dHloaXJldG16aHZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMzcxNTUsImV4cCI6MjA5NDgxMzE1NX0.o-RcUtf2nkqbuNkSQYAL0UB7LgFvf0eIClSCguUMd6Q
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indoc3Rsc3Z1dHloaXJldG16aHZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTIzNzE1NSwiZXhwIjoyMDk0ODEzMTU1fQ.T1uULWdeCXFURZcp5d83_ll_CVBbhITlLdzX0xr3Aqk